body {
    background-color: hsl(185, 75%, 39%);
    background-image: 
        url(./images/bg-pattern-top.svg),
        url(./images/bg-pattern-bottom.svg);
        background-repeat: no-repeat, no-repeat;
        background-position: -270px -500px, 800px 400px;
        background-size: contain contain;
        
}

.white_part {
    background-color:white;
    width: 350px;
    height: 450px;
    border-radius: 25px;
    position: relative;
    top: -190px
}

.profile_pic_victor {
    position: relative;
    z-index: 100;
    border-radius: 50px;
    margin-left: 120px;
}

.card_upper_pattern {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    z-index: 5;
    position: relative;
    top: 50px;
}